@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
@import url('https://fonts.cdnfonts.com/css/bebas-neue');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body{
    background-color: #23238E;
    padding: 40px;
}.container{
    background-color: #000000;
    color: white;
    box-sizing: content-box;
}.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    margin: 10px;
    padding-top: 25px;
    
}.navegacao{
    display: inline-flex;
    gap: 60px;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    list-style-type: none;
}.menu_usuario{
    display: flex;
    flex-direction: row;
    margin: 100px;
}.logo{
    width: 80px;
    
}.navegacao_item{
    text-decoration:  none;
    font-size: 18px;
    line-height: 100px;
    font-weight: 400;
    color: white;
}.navegacao_item:hover{
    text-decoration: underline;
    font-size: 24px;
}#usuario{
    background-color: #0039E6;
    border-radius: 60px;
    position: relative;
    height: 50px;
    width: 50px;
}#cadastrar{
    background-color: #0039E6;
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 18px;
    border: 2px solid white;
    border-radius: 6px;
    padding: 15px 10px 5px 15px;
    margin-right: 17px;

}#cadastrar:hover{
    transform: scale(1.2);
    color: #0039E6;
    font-weight: bold;
    font-size: 20px;
    background-color: white;
    
}.conteudo{
    background-image: url(../imagens/fundo.jpg);
    
    
}.conteudo_titulo{
    font-size: 256px;
    display: block;
    color: #0039E6;
    font-weight: 700;
    font-family: 'Bebas Neue', sans-serif;
    position: relative;
    margin: 40px 32px 100px 20px;

}.beneficios{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    font-family: 'Inter', sans-serif;
    margin: 100px;
}.beneficios_itens{
    background: rgba(0, 57, 230, 0.5);
    border-radius: 117px;
    padding: 15px;
    margin: 12px;
    list-style-type: none;
}.beneficios_itens:hover{
    transform: scale(1.2);
    background-color: #23238E;
    box-shadow: 10px 10px 10px black;
}#assinar{
    background-color: #7828FF;
    padding: 16.5px 24px;
    margin: 0 0 20px;
    height: 100px;
    width: 408px;
    border: 6px solid #090909;
    text-decoration: none;
    
}#assinar:hover{
    background-color: #b20ebd;
}.marketing{
    display: flex;
    flex-direction: column;
    align-items: center;
}#assinar a{
    text-decoration: none;
    color: #F9F9F9;
    font-size: 26px;
    font-family: 'Inter', sans-serif;
    
}